body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: calibri;
}

canvas {
  display: block;
}

#dpad-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  gap: 5px;
  z-index: 100;
  touch-action: none; /* Prevents zooming/scrolling on touch */
}

#cam-container {
  position: fixed;
  top: 10px;
  left: 10px;
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  gap: 5px;
  z-index: 100;
  touch-action: none; /* Prevents zooming/scrolling on touch */
}
#character-control-container {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 25%
}
#character-control-result {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
#character-control-result label {
  color: orange;
}
select {
  width: 100%
}
label {
  color: #ffffff;
  white-space: nowrap;
}
#swipe-zone {
  position: fixed;
  bottom: -10px;
  left: -10px;
  height: 40%;
  opacity: 0.15;
}